/*.celebrities {
  display: none;
}*/

.david {
  display: none;
}
.danny{
  display: none;
}
.will {
  display: none;
}
.jennifer {
  display: none;
}
.melissa {
  display: none;
}
.betty {
  display: none;
}
.mario {
  display: none;
}

img {
  width: 50%;
}
